#slider-range-max{
	width:370px;
	position:relative;
	left:200px;
	top:20px;

}
.deleteButton{
	background:#DD99FF;
}
#map{
	position:relative;
	top:-90px;
	background-color:#FFFFFF;
	height:590px;
	width:371px;
}
#somalia{
	position:relative;
	top:90px;
	width:371px;
	height:500px;
}
